<!--<p id="notice"><%= notice %></p> -->


<p>
  <b>Student:</b>
  <%= @student_topic.student.name %>
</p>


<p>
  <b>Topic:</b>
  <%= @student_topic.topic.title %>
</p>

<p>
  <b>Präferenz:</b>
  <%= @student_topic.preference %>
</p>




<%= link_to 'Ändern', edit_student_topic_path(@student_topic) %> |
<%= link_to 'Zurück', student_topics_path %>
